
<nav class="navbar navbar justify-content-center fixed-top navbar-expand-lg navbar-light">
        <div class="logo">
          <img src="../Imagenes/Logo.png" class="img-thumbnail mt-1 offset-4 rounded-circle" alt="..." height="70" width="70">
        </div> 
        <div class="container-fluid">
          <a class="navbar-brand offset-4 font-weight-bold" href="Principal.html">PRINCIPAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand offset-2 font-weight-bold" href="Inmuebles.html">INMUEBLES</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold offset-4 nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px;">
                  TAREAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item font-weight-bold" href="Agenda.html">Agenda</a></li>
                  <li><a class="dropdown-item font-weight-bold" href="carga.html">Nueva propiedad</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item font-weight-bold" href="#">Something else here</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="usuario">
          <ul>
            <li>
             <div class="row-3 offset-3">
               <img src="../Imagenes/perfil.png" alt="..." width = 30 height = 30>
             </div>
            </li>
            <li>
             <div class="dropdown">
               <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:16px;">
                 Usuario
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                 <li><a class="dropdown-item" href="#">Configuración</a></li>
                 <li><a class="dropdown-item" href="../internauta/Principal.html">Salir</a></li>
               </ul>
             </div>
             </li>
          </ul>

        </div>
    </nav>