 nav{

  height: 100px;
  }
#cabeza{
  margin: 5px;
  padding: 5px;
}
#ButtonUser{
  position: relative;
  bottom: 77px;
  margin: 10px;
  background: rgb(230, 126, 34);
  color: black;
  border: rgb(186, 74, 0);
}
#ButtonNav:hover{
  color:rgb(186, 74, 0) ;
}
#dropTarea:hover{
  color: rgb(186, 74, 0);
}

header nav {
  position: relative;
  bottom: 79px;

}
.container{
  position: relative;
  bottom: 50px;
}
#ButtonAgendah1{
  position: relative;
  top:3px;
}
.container h1 {
  position: relative;
  bottom: 88px;
}
.resultados{
  position: relative;
  bottom: 50px;
}

.buscador{
  background:url(../../../Imagenes/fondoBuscador.jpg);
  height: 500px;
  background-size: cover;
  background-position:center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  
}

.buscador:before{
  content: "";
  width: 98.1%;
  height: 500px;
  background-color: rgb(66, 73, 73);
  position:absolute;
  opacity: 0.6;
  border-radius: 2%;
}
.buscador h1,h3{
  position: relative;
}


.anterior {
  position: relative; left: 60px;
}
.siguiente {
  position: relative; right: 60px;
}

footer .redes{
  position: relative;
  background:rgb(230, 126, 34 ) ;
  height: 100px;
  width: auto;
}

footer label{
  color:black;
}

footer .contactos{
  position: relative;
  top:300px;
}

section {
    position: relative;
    top: 100px;
}
ul{
  list-style-type: none;
}
.usuario{
  position: relative;
  right: 80px;
  
}

#validationCustom01 {
  background: rgb(112, 123, 124 );
}
#boton {
  background: rgb(230, 126, 34);
  color: black;
  border: rgb(186, 74, 0);
  position: relative;
  bottom: 100px;
}
#carouselExampleControls{
  background:rgb(112, 123, 124 );
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

table {text-align-last: center;}

#accordionExample{background: rgb(112, 123, 124 );}
.redes ul{
  text-align: center;
}
.redes ul li{
  display: inline-block;
  padding: 5px;
}

