nav{
    background:rgb(186, 74, 0);
    }
  footer .redes{
    position: relative;
    top:350px;
    background:rgb(186, 74, 0) ;
    height: 100px;
  
  }
  
  footer label{
    color:black;
  }
  
  footer .contactos{
    position: relative;
    top:300px;
  }
  .container{
    position:relative;
    top:150px;
}
#carouselExampleControls{
  background:rgb(112, 123, 124 );
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
ul{
  list-style-type: none;
}
