.fuente{
    font-family: 'Montserrat', sans-serif;
}

.fondo{
    background: orange;
    background: linear-gradient(to right,rgb(180, 119, 70),orange);
}

.bg{
    background-image: url(../Imagenes/fondoCasa.jpg);
    background-position: center center;
    background-size: cover;
}
