#entrada {
    width: 500%;
    height: 100%;
    border: none;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 206, 158);
    border-radius: 10px;
}

#datos {
    margin-left: 100px;
    margin-right: 100px;
}

.atras{
    margin-left: 50px;
}

.continuar {
    margin-right: 50px;
}

#buscar {
    position: relative;
    left: 150px;
}

